<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nouvelle publication</ion-title>
    <ion-buttons slot="end">
      <ion-button
        type="submit"
        form="post-form"
        expand="block"
        fill="solid"
        shape="round"
        color="primary"
      >
        Publier
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <ion-avatar>
        <img src="assets/avatars/avatar-man.png" alt="SO Jonas" />
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-label>
        <h2>Jonas SO</h2>
        <p>Mon compte</p>
      </ion-label>
    </ion-col>
  </ion-row>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" id="post-form">
    <ion-item>
      <ion-textarea
        rows="6"
        formControlName="content"
        placeholder="Partagez vos pensées..."
        class="ion-text-wrap"
      ></ion-textarea>
    </ion-item>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="auto">
        <ion-button expand="block" fill="outline" shape="round" color="primary">
          <ion-icon name="image-outline"></ion-icon>
          Choisir une image dans la Galerie
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="auto" *ngFor="let image of images">
        <ion-img [src]="image.src" [alt]="image.alt"></ion-img>
        <ion-button color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
