<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar
      #searchbar
      [(ngModel)]="searchTerm"
      show-cancel-button="focus"
      (ionFocus)="onSearchFocus()"
      (ionCancel)="comeBack()"
      (ionInput)="performSearch()"
      placeholder="Rechercher"
      [class.focused]="showHistory"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Historique des recherches -->
  <div class="search-history" *ngIf="showHistory && searchHistory.length">
    <div class="history-header">
      <h3>Recherches récentes</h3>
      <ion-button
        fill="clear"
        size="small"
        color="medium"
        (click)="searchHistory = []"
      >
        Effacer tout
      </ion-button>
    </div>

    <ion-list lines="full">
      <ion-item
        *ngFor="let term of searchHistory"
        button
        (click)="selectSearchTerm(term)"
      >
        <ion-icon name="time-outline" slot="start" color="medium"></ion-icon>
        <ion-label>{{ term }}</ion-label>
        <ion-icon name="arrow-up-outline" slot="end" color="medium"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <!-- Indicateur de chargement -->
  <div *ngIf="isLoading" class="empty-state">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <!-- Résultats de recherche -->
  <!-- Feed de posts -->
  <div class="posts-container">
    <ion-card
      class="post-card ion-no-border"
      *ngFor="let post of searchResults"
    >
      <ion-card-header>
        <ion-item lines="none" class="user-info">
          <ion-avatar
            slot="start"
            [routerLink]="['/view-profile', post.user.id]"
            class="user-avatar"
          >
            <img src="assets/avatars/avatar-man.png" alt="Avatar" />
          </ion-avatar>
          <ion-label
            [routerLink]="['/view-profile', post.user.id]"
            class="user-details"
          >
            <h2 class="user-name">{{ post.user.name }}</h2>
            <p class="post-time">
              {{ globalService.getTimeAgo(post.created_at) }}
            </p>
          </ion-label>
          <app-follow-button-component
            [user]="post.user"
            (followStatusChanged)="searchResults"
            class="follow-btn"
          >
          </app-follow-button-component>
        </ion-item>
      </ion-card-header>

      <div class="post-content">
        <p class="post-text">{{ post.content }}</p>
      </div>

      <ion-card-content>
        <!-- Images -->
        <ng-container *ngIf="post.images">
          <div
            class="image-grid"
            [class.single-image]="globalService.decodeImages(post.images).length === 1"
          >
            <div
              *ngFor="let image of globalService.decodeImages(post.images)"
              class="image-container"
              [class.single]="globalService.decodeImages(post.images).length === 1"
            >
              <img [src]="image.path" [alt]="image.name" class="post-image" />
            </div>
          </div>
        </ng-container>

        <div class="interaction-buttons">
          <ion-button fill="clear" class="like-button">
            <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
            <span class="like-count">0</span>
            <span class="like-text">J'aime</span>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Aucune recherche trouvée -->
  <div
    class="empty-state"
    *ngIf="!isLoading && searchTerm && searchResults.length ===0"
  >
    <ion-icon name="search-outline" size="large" color="medium"></ion-icon>
    <p>Aucun résultat trouvé pour "<strong>{{ searchTerm }}</strong>"</p>
  </div>
</ion-content>
