.logo {
  max-width: 100px;
  margin-bottom: 10px;
  margin-top: 1.2rem;
}

.slogan {
  font-size: 14px;
  color: #666;
  margin-top: 0;
}
.gold-text {
  color: var(--ion-color-warning);
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

ion-list {
  width: 100%;
  padding: 12px;
  background-color: var(--ion-background-color);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ion-list-header {
  font-weight: 600;
}

ion-item {
  --highlight-height: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
}

ion-input {
  --padding-start: 0;
  --padding-end: 0;
}

ion-button {
  --border-radius: 8px;
  font-weight: 600;
}

.link-warning {
  color: var(--ion-color-warning);
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 767px) {
  ion-list {
    max-width: 100%;
  }

  ion-grid {
    ion-col {
      size: 6;
    }
  }
}
