<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="gold-text">GoldenTrader</ion-title>
    <ion-buttons slot="end">
      <ion-button
        expand="block"
        fill="solid"
        (click)="newPublication()"
        shape="round"
      >
        <ion-icon size="large" name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <!-- <ion-icon name="notifications-outline"></ion-icon> -->
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge color="danger" class="custom-badge"> 0 </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Posts Feed -->
  <ion-list>
    <ion-card *ngFor="let post of serviceGLobal.posts" class="post-card">
      <ion-card-header>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/avatars/avatar-man.png" alt="" />
          </ion-avatar>
          <ion-label
            [routerLink]="['/view-profile', post.user.id]"
            routerLinkActive="router-link-active"
          >
            <h2>{{post.user.name}}</h2>
            <p>{{serviceGLobal.getTimeAgo(post.created_at)}}</p>
          </ion-label>
          <app-follow-button-component
            [user]="post.user"
            (followStatusChanged)="serviceGLobal.allPublication()"
          ></app-follow-button-component>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <!-- <h3>{{post.title}}</h3> -->
        <p>{{post.content}}</p>
        <img src="https://placehold.co/800x450" alt="" />
        <div class="interaction-buttons">
          <ion-button fill="clear">
            <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
            0
          </ion-button>
          <ion-button fill="clear">
            <ion-icon slot="start" name="thumbs-down-outline"></ion-icon>
            0
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
